.artists__container {
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
}

.recently__played__container {
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artist__name {
    color: white;
    text-decoration: none;    
}

.artists__genres {
    color: grey;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.artist__image {
    width: 25vw;
    height:25vw;
    min-width: 20vw;
    object-fit: cover;
}

.recently__played__container audio {
    max-width: 250px;
}

.recently__played__container audio:focus {
    outline: none;
  }

  /* Mobile Devices */
  @media (max-width: 480px) {

      .recently__played__container audio {
        max-width: 200px;
      }
  }
  