.artists__container {
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
}

.artists__genres {
    color: grey;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.artist__image {
    width: 25vw;
    height:25vw;
    min-width: 20vw;
    object-fit: cover;
}